<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <appSettings>
    	<add key="RutaFicheros" value="C:\Partes\generados\" />
		<add key="RutaFicherosOK" value="C:\Partes\procesados_OK\" />
		<add key="RutaFicherosKO" value="C:\Partes\procesados_KO\" />		
		<add key="NumArchivos" value="1" />
		<add key="TempEspera" value="10" />
	</appSettings>

	<connectionStrings/>
    <system.web>
        <compilation debug="true" >

        </compilation>
    <!--
      La sección <authentication> habilita la configuración 
      del modo de autenticación de seguridad que usa 
      ASP.NET para identificar a un usuario entrante. 
    -->
    <authentication mode="Windows" />
    <!--
       La sección <customErrors> habilita la configuración de 
       las acciones que se deben realizar si un error no controlado tiene lugar
       durante la ejecución de una solicitud. En concreto, 
       permite a los desarrolladores configurar páginas de error html 
       que se mostrarán en lugar de un seguimiento de pila de errores.

       <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
         <error statusCode="403" redirect="NoAccess.htm" />
         <error statusCode="404" redirect="FileNotFound.htm" />
       </customErrors>
    -->
    </system.web>

</configuration>
